* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/* nav{
    background: #003542;
    height: 80px;
    width: 100%;
}

label.top_logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: #014353;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

@media(max-width: 952px){
    lable.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1358px)
{
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aqua ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ul{
        left:0;
    }

} */

/* #topnav{
    overflow: hidden;
} */


@media screen and (max-width: 1600px) {

    #wrapper{
        background-color:rgb(252, 179, 166);
        margin-top: -5px;
    }

    .card {
        box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.26);
        transition: 0.3s;
        width: 40%;
        border-radius: 10px;
        margin-top: 5%;
        margin-left: 2%;
        background-color: #003542;
        color: white;
    }

    .card:nth-child(even) {margin-left: 58%;}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 5% 5%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #003542;
    }


    .right_nav {
        float: right;
    }

    .left_nav {
        float: left;
    }


    li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 17px;
        padding: 24px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #014353;
    }

    .active {
        background-color: #014353;
    }

    .logo {
        overflow: hidden;
        width: 40px;
        height: 16px;
    }

    .sticky_sidebar {
        margin-right: 1vh;
        position: relative;
        margin-top: 1vh;
    }

    .sidebar_index>a {
        display: flex;
        float: left;
        justify-content: space-around;
        padding: 10%;
    }

    #top_navbar{
        margin-top: 1.9px;
    }

    .sidebar_index {
        border: #01222b ;
        border-style: solid;
        background-color: palegoldenrod;
        width: 4%;
        position: absolute;
        right: 0;
        top: 0;
    }

    footer {
        width: 100%;
        background-color: #1D2B36;
        color: white;
        justify-content: center;
    }

    #footer_logo {
        display: block;
        margin: 0 auto;
    }

    #footer_links {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #footer_links>a {
        padding: 9px;
    }

    .footer_content_center {
        text-align: center;
    }
}






@media screen and (max-width:840px) {
    ul li {
        width: 100%;
    }
}








/*#footer_nav{
    float: left;
} */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
  } */