.wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .main,
  .sidebar {
    padding: 15px;
    background-color: #fff;
  }
  
  .main {
    width: 60%;
    height: 150vh;
  }
  
  .sidebar {
    width: 25%;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
